nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#logo{
  width: 200px;
}

#menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

h1{
  font-size: 28px;
  font-weight:600 ;
  padding: 0 40px;
  margin: 40px 0;
}