#articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#articleText{
  max-width: 800px;
}
.logo{
  width: 150px;
}

#articleWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h3{
  
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  display: block;
}

#articleSection{
margin-bottom: 120px;

}

.socialMedia{
  max-width: 25px;
  color: #316F5F;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  border-top: 1px solid grey;

}
#footerTop{
  width: 100%;
  
}
#footerText{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px;
}

#footerLinks >a{
  padding: 0 20px;
}

#footerIcons{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
  padding: 0 60px;
}

@media only screen and (max-width: 600px){
#aboutContent{
  flex-direction: column;
}
#articleWrapper{

flex-direction: column;}
#articles{
  margin: 0 30px;
  font-size: 14px;
}
#articleText{
  width: 280px;
}
h3{
  font-size: 18px;
}
footer{
  font-size: 12px;
  
}
.logo{
  display: none;
}

#footerIcons{
  justify-content: center;
}

#footerLinks{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footerLinks >a{
  padding: 0 10px;
}
}