#landingDiv{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 120px;
 
}
#landingLeft >img{
  max-width: 100%;
}
#landingRight >img{
 max-width: 100%;
 


}
#mainLogo{

  max-height: 280px;
}

#landingLeft{
  max-width: 65%;
}

#landingRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 35%;
}

#aboutImg{
  max-width: 200px;
}

#aboutContent{display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:100px;
  }
  #aboutContent >p{
    max-width: 50%;
    line-height: 2.0;
  }