.cartWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.productInCart{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:60px;
  height: 150px;
  border-bottom: solid 1px grey;
}

.productInCart >img{
  width: 110px;
  max-height: 140px;
  object-fit: contain;
}

.cartItemData{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:60px
}

.countHandler{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px
  
}

.shoppedQty{
  width: 30px;
  text-align: center;
}

.qtyChange{

  width: 20px;
  border: 1px solid grey;
}

#totalPice{
  display: block;
  text-align: center;
  margin: 30px 0;
  font-size: 28px;
  
}

#totalPice >span{
  font-weight: 600;
  
}

#checkOut{
  margin-bottom: 120px;
  background-color: rgb(113, 193, 156);
  padding:10px;
  font-size: 22px;
  font-weight: 900;
  border: 1px solid grey;
}

@media only screen and (max-width:600px){
  .productInCart{
    flex-direction: column;
    width: 100%;
    height: 200px;
    gap: 0;
  }
  .productInCart >img{
    max-width: 60px;
  }

  .cartItemData{
flex-direction: column;
gap: 0;
  }

  nav{
    padding: 10px;
  }

}