#trendingSection{
  margin: 120px 0;
}


#trending{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:50px;
  padding: 0px 30px;
  width: 100%;
 
}

@media only screen and (max-width: 600px){
.productCard{
  margin-left: 80px;
  
}

  #trending{
    width: 300px;
  }

  #trending 	div:nth-of-type(2){
    display: none;
  }
  #trending 	div:nth-of-type(3){
    display: none;
  }

}